body {
	background-image: url("../images/yellowRoses.jpg");
	background-attachment: fixed;
}

.container, .container-fluid {
	margin-top: 20px;
}

.jumbotron {
	background-color: rgba(238, 238, 238, 0.78);
}

h1 {
	font-family: 'Cinzel', serif;
}

hr {
	border-top-color: #d5d5d5;
}

.btn, .btn-lg, .btn-primary {
	background-color: #fdb520;
    border-color: #e49000;
}

.btn-primary:hover {
	background-color: #e49000;
    border-color: #e49000;
}

.modal-title {
	font-family: 'Cinzel', serif;
}